.button {
	display: inline-flex;
	box-sizing: border-box;
	padding: 10px 15px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
	font-family: var(--font-noto-sans);
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}
.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);
	background-color: transparent;
	border: 1px solid var(--gray-ligth);
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.arrow {
	display: flex;
	margin-left: 10px;
}

.down {
	transform: rotate(90deg);
	transition: all 0.2s;
}
