:root {
	--black: #3b434e;
	--gray: #e2e2e2;
	--gray-ligth: #ebebeb;
	--white: #ffffff;
	--primary: #7653fc;
	--primary-hover: #644bc9;
	--red: #fc836d;
	--green: #1dc37e;
	--light-green: #c8f8e4;
	--background: #f5f6f8;
}
